.guess-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 50%;
    margin: 0 auto;
    animation: fadeInAnimation ease 3s;
		border-radius: 25px;
		background-color: #8dce9ca2;
		padding: 1rem;
		
    /* align-items: stretch; */
    /* grid-template-columns: 1fr auto; */
    /* grid-template-areas: "sidebar content"; */
}

.guess-content {
    padding: 10px;
    list-style: none;
    text-align: center;
    /* grid-area: content; */
}

.left-column {
    padding: 10px;
    list-style: none;
    /* grid-area: sidebar; */
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.green {
    color: green;
}

@keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }