.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.slider-container input {
  height: 1rem;
}

.time-label {
  margin: 0 30px;
}

iframe {
  display: none;
}

input[type='range'] {
  overflow: hidden;
  width: 20rem;
  appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  width: 0.01px;
  -webkit-appearance: none;
  height: 0.01px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -200px 0 0 200px #04A03B;
}

.player-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-controls button {
  padding: 1rem;
  margin: 5%;
  font-size: 1rem;
  border-radius: 25px;
  border-style: none;
  background-color: rgba(163, 180, 224, 0.744);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.player-controls button:hover {
  background-color: rgb(145, 163, 208);
}

/* Change the buttons to be grayed out when they are unusable. */
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}