.allSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInAnimation ease 3s;

}

.song-search {
  width: 50%;
  font-size: 1rem;
  padding: 2%;
}

.song-search input {
  font-size: 1rem;
  padding: 1%;
  border-style: none;
  width: 98%;
}

.song-search input:disabled {
  opacity: 1;
  background-color: #fff;
  cursor: text;
}

.song-list-container {
  background-color: rgba(240, 248, 255, 0.529);
  padding: 2%;
  max-height: 200px;
  overflow: auto;
  /* width: 100%; */
  border-radius: 0 0 25px 25px;
}

.song-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  padding: 5px;
  white-space: nowrap;
}

.error-message {
  text-align: center;
  color: var(--error);
  opacity: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


.error-message.fade-in {
  animation-name: fadeInAnimation;
}

.error-message.fade-out {
  animation-name: fadeOutAnimation;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}